body {
  overflow: hidden;
  animation: background-image-rotate 15s linear 0ms infinite alternate ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
}
 
nav {
  display: flex;
  flex-direction: row;
  background-color: crimson;
  top:0;
  left:0;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;
}

@keyframes background-image-rotate {
  0% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
   rgba(0, 0, 0, 0.7)), url("images/wall1.webp");}
  25% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)), url("images/wall2.webp");}
  50% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)),url("images/wall3.webp");}
  75% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
  rgba(0, 0, 0, 0.7)), url("images/wall4.webp");}
  100% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)), url("images/wall5.webp");}
}

#introBox {
  width: 60%;
  height: 60%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
}

#firstScreen {
  /*width: 100vh;
  height: 100vh;*/
}