body {
  overflow-x: hidden;
  animation: background-image-rotate 15s linear 0ms infinite alternate ;
  background-size: cover;
}

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
}
 
nav {
  display: flex;
  flex-direction: row;
  background-color: crimson;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;
}

@keyframes background-image-rotate {
  0% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
   rgba(0, 0, 0, 0.7)), url("images/wall1.webp");}
  25% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)), url("images/wall2.webp");}
  50% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)),url("images/wall3.webp");}
  75% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
  rgba(0, 0, 0, 0.7)), url("images/wall4.webp");}
  100% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)), url("images/wall5.webp");}
}

#introBox {
  color: white;
  margin: 0 auto;
}

#firstWindow {
  display: flex;
  text-align: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  height: 100vh;
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects {
  width: 90vw; 
  margin: 0 auto;
  height: auto;
  margin: 0 auto;
  background-color: rgba(255, 255, 255,0.8);
  text-align: center;
}

#project-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#project-each-box {
  width: 50%;
  height: 50%;
  background-color: brown;
}
img {
  width: 80%;
  height: 80%;
  padding: 1% 1% 1% 1%;
}

#about {
  background-color: rgba(255, 255, 255,0.6);
  height: 90vh;
  width: 90vw;
  text-align: center;
  align-items: center;
}

#contact-me {
  background-color: antiquewhite;
  height: 90vh;
  width: 90vw;
  text-align: center;
  align-items: center;
}

footer {
  width:90vw;
  text-align: center;
  height: 2em;
  background-color:rgba(255, 255, 255,0.5);
}