body {
  overflow-x: hidden;
  animation: background-image-rotate 15s linear 0ms infinite alternate ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
}
 
nav {
  display: flex;
  flex-direction: row;
  background-color: crimson;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;
}

@keyframes background-image-rotate {
  0% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
   rgba(0, 0, 0, 0.7)), url("images/wall1.webp");}
  25% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)), url("images/wall2.webp");}
  50% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)),url("images/wall3.webp");}
  75% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
  rgba(0, 0, 0, 0.7)), url("images/wall4.webp");}
  100% {background-image: linear-gradient(rgba(0, 0, 0, 0.80),
    rgba(0, 0, 0, 0.7)), url("images/wall5.webp");}
}

#introBox {
  color: white;
  margin: 0 auto;
  position: relative;
}

#firstWindow {
  display: flex;
  text-align: center;
  align-items: center;  
  width: 100vw;
  background-color: aqua;
  height: 100vh;
}

main {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#projects {
  width: 100vw;
  height: 90vw;
  margin: 0 auto;
  background-color:rgba(252, 237, 214, 0.616);
  text-align: center;
}

#project-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#project-each-box {
  width: 50%;
  height: 50%;
  background-color: crimson;
}